/*网页中文字都是微软雅黑，直接body设置，后面的标签都可以直接继承*/
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}


/*页面顶部栏的样式*/
/*整个顶部栏盒子*/
.header_con{
    height: 29px; /*不设置宽度，宽度为浏览器宽度*/
    background-color: #f7f7f7; /*颜色直接在PS中用吸管工具吸取，然后复制颜色值过来即可*/
    border-bottom: 1px solid #dddddd;
}

/*顶部栏内容盒子*/
.header{
    width: 1200px;
    height: 29px;
    background-color: gold;
    margin: 0 auto; /*上下0，左右水平居中*/
    line-height: 29px;
}

/*欢迎文字样式*/
.welcome{
    font-size: 12px;
    color: #666666;
    line-height: 29px;
}

/*用户栏样式*/
.user_con{
    background-color: cyan;
}

/*登陆后的用户信息*/
.user_info{
    display: none; /*隐藏模块*/
    font-size: 12px;
    line-height: 29px;
    color: #666666;
}

/*用户名特殊颜色*/
.user_info em{
    color: #f80;
}


/*登陆模块和用户模块样式设置*/
.login_btns li, .user_btns li{
    float: left;
    line-height: 29px;
}

.login_btns a, .login_btns span, .user_btns a, .user_btns span{
    display: block;
    line-height: 29px;
    font-size: 14px;
    color: #666666;
}

.login_btns span, .user_btns span{
    color: #cecece;
    margin: 0 10px;
    font-size: 16px;
}

/*鼠标放上去后，字体变色*/
.login_btns a:hover, .user_btns a:hover{
    color: blue;
}
