/*网页中文字都是微软雅黑，直接body设置，后面的标签都可以直接继承字体和大小*/
body{
    font-family: "Microsoft YaHei";
    font-size: 14px;
}


/*1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111 111111111111*/
/*页面顶部栏的样式*/
/*整个顶部栏盒子*/
.header_con{
    height: 29px; /*不设置宽度，宽度为浏览器宽度*/
    background-color: #f7f7f7; /*颜色直接在PS中用吸管工具吸取，然后复制颜色值过来即可*/
    border-bottom: 1px solid #dddddd;
}

/*顶部栏内容盒子*/
.header{
    width: 1200px;
    height: 29px;
    /*background-color: gold;*/ /*背景色开始留着便于调整观察，盒子制作完成后就注释掉*/
    margin: 0 auto; /*上下0，左右水平居中*/
    line-height: 29px;
}

/*欢迎文字样式*/
.welcome{
    font-size: 12px;
    color: #666666;
    line-height: 29px;
}

/*用户栏样式*/
.user_con{
    /*background-color: cyan;*/
}

/*登陆后的用户信息*/
.user_info{
    display: none; /*隐藏模块*/
    font-size: 12px;
    line-height: 29px;
    color: #666666;
}

/*用户名特殊颜色*/
.user_info em{
    color: #f80;
}

/*登陆模块和用户模块样式设置*/
.login_btns li, .user_btns li{
    float: left;
    line-height: 29px;
}

.login_btns a, .login_btns span, .user_btns a, .user_btns span{
    display: block;
    line-height: 29px;
    font-size: 14px;
    color: #666666;
}

.login_btns span, .user_btns span{
    color: #cecece;
    margin: 0 10px;
    font-size: 16px;
}

/*鼠标放上去后，字体变色*/
.login_btns a:hover, .user_btns a:hover{
    color: blue;
}


/*22222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222222*/
/*logo、搜索框、购物车*/
/*整体盒子*/
.center_con{
    width: 1200px;
    height: 115px;
    margin: 0 auto;
    /*background-color: gold;*/
}

/*logo样式*/
.logo{
    margin: 29px 0 0 17px;
    /*background-color: blue;*/
}

/*搜索框样式*/
.search_con{
    width: 616px;
    height: 38px;
    /*background-color: blanchedalmond;*/
    margin: 34px 0 0 124px;
    border: 1px solid #37ab40;
    background: url("../images/icons.png") 10px 10px no-repeat ; /*使用搜索图标作为背景填充*/
}

.search_con .input_txt{
    margin-left: 36px;
    width: 480px;
    height: 38px;
    border: 0;
    outline: none; /*去掉获得焦点时候显示的突出边框*/
}

.search_con .input_sub{
    width: 100px;
    height: 38px;
    background-color: #37ab40;
    border: 0; /*默认input会带一个边框，去掉外边框*/
    font-size: 14px;
    color: white;

    cursor: pointer; /*将图标的形状由默认箭头设置为手型*/
}

/*购物车样式*/
.chart_con{
    width: 200px;
    height: 40px;
    /*background-color: red;*/
    margin-top: 34px;
}

/*我的购物车样式*/
.chart_link{
    width: 158px;
    height: 38px;
    border: 1px solid #dddddd;
    background: url("../images/icons.png") 12px -42px no-repeat #f7f7f7;
    text-indent: 56px; /*我的购物车文字首行缩进56px*/
    line-height: 38px; /*文字垂直居中*/
    font-size: 14px;
    color: #37ab40;
}

/*购物车后面数字样式*/
.chart_num{
    width: 40px;
    height: 40px;
    background-color: #ff8800;
    text-align: center; /*文字水平居中*/
    color: white;
    font: bold 18px/40px "Microsoft YaHei"; /*文字加粗，垂直居中*/
}



/*33333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333*/
/*主菜单栏：全部商品、首页、手机端*/
.main_menu_con{
    width: 1200px;
    height: 40px;
    border-bottom: 2px solid #39a93e;
    margin: 0 auto; /*整体水平居中*/
}

.center_con02{
    width: 1200px;
    height: 40px;
    /*background-color: gold; !*全部菜单样式设置好后，注释掉背景色*!*/
    margin: 0 auto; /*水平居中*/
}

.center_con02 h2{
    float: left;
    width: 200px;
    height: 40px;
    background-color: #39a93e;
    text-align: center; /*水平居中*/
    font: normal 14px/40px "Microsoft YaHei";
    color: white;
}

.center_con02 ul{
    float: left;
    overflow: hidden; /*用于隐藏第一个a标签的左边框，如果给在下面的li标签，则所有的做边框都被隐藏了*/
}

.center_con02 li{
    float: left;
    height: 40px;
    /*overflow: hidden;*/
}

.center_con02 li a{
    display: block; /*内联元素转换为块元素后支持所有样式*/
    height: 14px;
    line-height: 14px; /*垂直居中*/
    padding: 0 20px;
    margin: 13px 0; /*盒子之间保持间距*/
    margin-left: -1px; /*实用技巧：第一个a标签左边有一个边框，移动1像素，溢出盒子，然后再最外层盒子ul给一个overflow: hidden;*/
    border-left: 1px solid #666666;
    color: #666666;
}



/*44444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444444*/
/*二级菜单、幻灯片、广告*/
.center_con03{
    width: 1200px;
    height: 270px;
    /*background-color: gold;*/
    margin: 0 auto; /*盒子水平居中*/
}


/*二级菜单*/
.sub_menu_con{
    width: 200px;
    height: 270px;
    /*background-color: green;*/
}

.sub_menu_con li{
    width: 198px;
    height: 44px;
    border: 1px solid #eee;
    border-top: 0; /*去掉顶边框消除边框有2条线*/
    background: url("../images/icons.png") 178px -382px no-repeat; /*我们把背景图片给在li标签，连接a标签给的大小和li盒子大小一样，点击整个li都会相应连接*/
}

.sub_menu_con li a{
    display: block; /*内联元素转成块元素，宽度就是上级li标签的宽度*/
    height: 44px; /*a标签高度和li高度一致,宽度就是上级li标签的宽度*/
    line-height: 44px; /*文字垂直居中*/
    text-indent: 71px; /*首行缩进71px*/
    color: #333333;
    background: url("../images/icons.png") 33px -90px no-repeat;

}

.sub_menu_con li a:hover{
    color: #ff8800; /*鼠标放在a标签的文字上会产生变色效果*/
}

/*单独调整后面5个li标签背景图的位置，都是用的一张背景图,每个上面高度加50px,左右单独微调一下*/
.sub_menu_con li .icon02{
    background-position: 31px -140px;
}

.sub_menu_con li .icon03{
    background-position: 31px -190px;
}

.sub_menu_con li .icon04{
    background-position: 33px -240px;
}

.sub_menu_con li .icon05{
    background-position: 33px -289px;
}

.sub_menu_con li .icon06{
    background-position: 33px -338px;
}


/*幻灯片展示*/
.slide_con{
    width: 760px;
    height: 270px;
    background-color: pink;
    position: relative; /*父级相对定位，作为子级绝对定位的参考物*/
    overflow: hidden; /*下面的ul标签太宽，溢出设置隐藏*/
}

.slide_con .slide{
    width: 4560px;
    height: 270px;
    position: absolute; /*ul相对于父级div定位，相对于父级左边和顶边移动都是0*/
    /*图片水平滚动的效果，实际就是改变left值，让图片向左移动，可以进入火狐，手动不断改变left，可以查看到滚动效果*/
    /*后期学习jQuery，实际就是通过程序控制left值的变化，改变背景图的位置，从而展示不同的图片*/
    /*所有图片都是浮动放在ul标签里面，改变left所有图片就会水平移动*/
    left: 0;
    top: 0;
}

.slide_con .slide li{ /*幻灯片浮动，都是放在一行,默认只显示出第一张图片*/
    float: left; /*浮动不能继承父级的浮动，li是一个块元素，需要自己设置自己，ul下面的所有li标签元素都左浮动,所有图片宽度正好是4560px，此时多余的元素会溢出，父级溢出隐藏*/
}

/*幻灯片左右的箭头*/
.slide_con .prev{
    width: 15px; /*宽高是要设置的箭头大小*/
    height: 24px;
    position: absolute; /*使用绝对定位，参考元素是父级div,即幻灯片图片左上角，绝对定位不占据文档流的位置，可以漂浮在幻灯片上层*/
    background: url("../images/icons.png") left -450px no-repeat; /*先左边对齐，然后向上移动，将箭头先对齐幻灯片的左上角*/
    left: 0;
    top: 0;
    cursor: pointer; /*箭头本来没给连接，放在上面原始是显示箭头，设置鼠标放在箭头上，鼠标变成手形状*/
}

/*然后单独设置图片相对于父级移动的位置,下面设置的left和top就会覆盖掉上面的0,0*/
.slide_con .prev{
    left: 11px;
    top: 122px;
}

.slide_con .next{
    width: 15px; /*宽高是要设置的箭头大小*/
    height: 24px;
    position: absolute; /*使用绝对定位，参考元素是父级div,即幻灯片图片左上角，绝对定位不占据文档流的位置，可以漂浮在幻灯片上层*/
    background: url("../images/icons.png") left -500px no-repeat; /*先左边对齐，然后向上移动，将箭头先对齐幻灯片的左上角*/
    left: 0;
    top: 0;
    cursor: pointer; /*箭头本来没给连接，放在上面原始是显示箭头，设置鼠标放在箭头上，鼠标变成手形状*/
}

/*然后单独设置图片相对于父级移动的位置,下面设置的left和top就会覆盖掉上面的0,0*/
/*注意，此处不能使用right移动，right不能覆盖上面的left值*/
.slide_con .next{
    left: 732px;
    top: 122px;
}


/*设置幻灯片底部的6个小圆点*/
.points{
    position: absolute; /*父级div作为绝对定位的参考*/
    width: 100%; /*设置宽度为父级的100%，没有内容，也会显示完整的宽度*/
    height: 11px;
    /*background-color: green;*/
    left: 0;
    bottom: 9px;
    font-size: 0; /*去掉子级行内块元素间隙：父级设置字体为0，单独设置子级字体（没有文字可以不设置）*/
    text-align: center; /*用于设置子元素水平居中*/
}

.points li{
    display: inline-block; /*转换为行内块元素，布局在一行，有间隙，可以单独设置样式*/
    width: 11px;
    height: 11px;
    background-color: lightgreen;
    margin: 0 5px;
    border-radius: 50%; /*方块直接倒成圆角，半径给边长的一半*/
    cursor: pointer; /*鼠标箭头变成手的形状*/
}

.points .active{
    background-color: #cecece;
}


/*右侧广告栏*/
.advs{
    width: 240px; /*边框大小正好可以放两张广告图片*/
    height: 270px;
    background-color: red;
}

/*两个img图片之间会有一个像素的间隔bug，写上下面一句，图片转换为block就解决了*/
.advs img{
    display: block;
}


/*55555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555555*/
/*新鲜水果栏：标题栏、活动商品展示、商品图片橱窗展示*/

/*整体水果栏*/
.common_model{
    width: 1200px;
    height: 337px;
    margin: 20px auto 0; /*上部保持间距，左右居中，底部不设置，下一个盒子设置上边距*/
    /*background-color: gold;*/
}

/*标题栏*/
.common_title_con{
    height: 35px;
    border-bottom: 2px solid #42ad46;
    /*background-color: blue;*/
}

.common_title_con h3{
    float: left;
    height: 35px;
    font: bold 16px/35px "Microsoft YaHei";
    color: #37ab40;
}

.common_title_con ul{
    float: left; /*ul元素左浮动，和h3排在一行*/
    margin: 12px 0 0 20px;
}

.common_title_con ul li{
    float: left;
    height: 12px;
    border-left: 1px solid #666666;
}

.common_title_con ul li a{
    float: left;
    line-height: 12px; /*a默认有自己的行高，将行高给成和li的行高一样，就和li的左边框高度一致了*/
    color: #666666;
    margin: 0 10px; /*文字与竖线保持距离*/
}

.common_title_con ul li a:hover{
    color: blueviolet;
}

/*查看更多单独右浮动，单独给一个more样式*/
.common_title_con .more{
    float: right;
    color: #666666;
    font: normal 12px/35px "Microsoft YaHei";
}

.common_title_con .more:hover{
    color: blueviolet;
}


/*活动商品展示*/
.goods_banner{
    /*background-color: red;*/
    width: 200px;
    height: 300px;
}


/*商品图片橱窗展示*/
.goods_list{
    /*background-color: lightblue;*/
    width: 1000px;
    height: 300px;
    float: left; /*注意：该处给定浮动后，才会从活动商品右边开始排列，不然计算宽度时候，会从浏览器窗口最左边开始计算*/
}

.goods_list li{
    float: left; /*li给定浮动，商品排在一行*/
    width: 249px;
    height: 299px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center; /*li下面的元素都水平居中*/
}

.goods_list li h4{
    font: normal 14px/50px "Microsoft YaHei";
    color: #666666;
}

.goods_list li a{
    display: block; /*转换为块元素，支持所有样式*/
    width: 180px;
    height: 180px;
    margin: 0 auto; /*父元素li已经设置了水平居中，此处可以省略*/
}

.price{
    font: bold 20px/50px "Microsoft YaHei";
    color: #c40000;
}


/*66666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666666*/
/*底部信息栏：联系信息、版权信息、备案信息等*/
.footer{
    border-top: 2px solid #4ab14e;
    margin-top: 30px;
    text-align: center; /*子元素水平居中*/
}

.footer_link{
    margin-top: 38px;
}

.footer_link a{
    color: #4ab14e;
    font-size: 12px;
    margin: 0 10px;
}

.footer_link span{
    color: #4ab14e;
    font-size: 12px;
}

.footer_link p{
    color: black;
    font-size: 12px;
    margin-top: 10px;
}
